[Unit]
Description=Lock screen on suspend
Before=sleep.target

[Service]
Type=forking
Environment="USER=%I"
Environment="DISPLAY=:0"
ExecStart=bash -c "env XDG_RUNTIME_DIR=/run/user/$(id -u $USER) sudo --preserve-env=XDG_RUNTIME_DIR -u $USER archw --lock"

[Install]
WantedBy=sleep.target
