[Unit]
Description=i3 auto layout manager
PartOf=i3.target
After=i3.target

[Service]
ExecStart=/usr/local/bin/i3layoutwatcher
ExecStop=/usr/bin/pkill i3layoutwatcher
Restart=always

[Install]
WantedBy=i3.target
