[Unit]
Description=i3 auto layout loader
After=aw-i3.target

[Service]
KillMode=process
Environment=DISPLAY=:0
ExecStart=bash -c "sleep 2 && /usr/local/bin/archw --layout load && sleep 30" &

[Install]
WantedBy=aw-i3.target
