[Unit]
Description=Auto monitor sleep on Lock
Requisite=aw-screen-lock-on.target
After=aw-screen-lock-on.target aw-screen-state-on.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/aw-alt-screenoff

[Install]
WantedBy=aw-screen-lock-on.target aw-screen-state-on.target
