[Unit]
Description=Screen PM on DC state change
After=aw-dc-state-on.target aw-dc-state-off.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/aw-ondcscreenpm

[Install]
WantedBy=aw-dc-state-on.target aw-dc-state-off.target
