[Unit]
Description=Power States listener
PartOf=i3.target
After=i3.target

[Service]
ExecStart=/usr/local/bin/aw-pslistener
ExecStop=/usr/bin/pkill aw-pslistener
Restart=always

[Install]
WantedBy=i3.target
