[Unit]
Description=Lock system on screen state OFF
After=aw-screen-state-off.target

[Service]
Type=forking
KillMode=process
Environment=DISPLAY=:0
ExecStart=/usr/local/bin/aw-screenofflock

[Install]
WantedBy=aw-screen-state-off.target
