[Unit]
Description=Xeventbind auto start
PartOf=aw-i3.target
After=aw-i3.target

[Service]
Environment=DISPLAY=:0
ExecStart=/usr/local/bin/xeventbind resolution /usr/local/bin/aw-resetwallpaper
Restart=always

[Install]
WantedBy=aw-i3.target
