[Unit]
Description=Reload i3status-rs on DC state change
After=dc-state-on.target dc-state-off.target

[Service]
Type=oneshot
ExecStart=archw --sys i3status-restart

[Install]
WantedBy=dc-state-on.target dc-state-off.target
