[Unit]
Description=Screen PM on DC state change
After=dc-state-on.target dc-state-off.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/ondcscreenpm

[Install]
WantedBy=dc-state-on.target dc-state-off.target
