[Unit]
Description=Lock system on screen state OFF
After=screen-state-off.target

[Service]
Type=forking
Environment=DISPLAY=:0
ExecStartPre=-/usr/bin/pkill screenofflock
ExecStart=/usr/local/bin/screenofflock

[Install]
WantedBy=screen-state-off.target
