[Unit]
Description=Flameshot screen capture auto start
PartOf=aw-i3.target
After=aw-i3.target

[Service]
ExecStart=/usr/bin/flameshot
ExecStop=/usr/bin/killall flameshot
Restart=always

[Install]
WantedBy=aw-i3.target
