[Unit]
Description=Load OpenRGB profile on startup
After=aw-i3.target

[Service]
Type=simple
ExecStart=/usr/bin/openrgb --profile /home/tarkh/.config/OpenRGB/ArchW.orp

[Install]
WantedBy=aw-i3.target
