[Unit]
Description=Telegram Desktop auto start
PartOf=aw-i3.target
After=aw-i3.target

[Service]
ExecStart=/usr/local/bin/aw-xprof /usr/bin/telegram-desktop -startintray
ExecStop=/usr/bin/killall telegram-deskto
Restart=always

[Install]
WantedBy=aw-i3.target
