[Unit]
Description=Telegram Desktop auto start
PartOf=i3.target
After=i3.target

[Service]
ExecStart=/usr/local/binaw-xprof/usr/bin/telegram-desktop -startintray
ExecStop=/usr/bin/killall telegram-deskto
Restart=always

[Install]
WantedBy=i3.target
