[Unit]
Description=Start picom composite manager
After=aw-i3.target

[Service]
ExecStart=/usr/bin/picom
Restart=always

[Install]
WantedBy=aw-i3.target
