[Unit]
Description=System update checker
Wants=aw-update-checker.target

[Service]
Type=oneshot
ExecStart=archw --status json sysupd check

[Install]
WantedBy=aw-i3.target
