[Unit]
Description=System update checker schedule
Requires=aw-update-checker.service

[Timer]
Unit=aw-update-checker.service
OnCalendar=00/6:00
Persistent=true

[Install]
WantedBy=timers.target
