[Unit]
Description=Redshift daemon auto start
PartOf=i3.target
After=i3.target

[Service]
ExecStart=/usr/local/bin/redshift-start
ExecStop=/usr/bin/killall redshift
Restart=always

[Install]
WantedBy=i3.target
