[Unit]
Description=Coordinate suspending via lid-close and systemctl
After=sleep.target

[Service]
Type=simple
ExecStart=/usr/local/bin/aw-mac-pre-suspend

[Install]
WantedBy=sleep.target
