/* Load the original theme */
@import url("/usr/share/themes/Dracula/gtk-3.20/gtk.css");

/* Override */
tooltip {
  padding: 0 3px 0 3px;
  border-radius: 0;
  box-shadow: 0 0 6px #000;
  text-shadow: 0;
}
tooltip.background {
  background-color: #0C0E15;
  background-clip: padding-box;
  border: 0;
}
tooltip decoration {
  background-color: transparent;
}
tooltip * {
  padding: 0;
  background-color: transparent;
  color: #aaaaac;
}
